= render 'shared/errors', resource: @question

h1= @question.title
p= @question.body

- if user_has_permission_to_destroy?(@question)
  =link_to 'Delete question', question_path(@question), method: :delete

h2= 'Answers'

table
  = render @question.answers

= render 'answers/form', question: @question, answer: @answer
